*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{  
    scroll-behavior: smooth;
}
#main{

}
.col{
    float :left;
    padding-right: 2px;
}
.col-full{s
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#nav
{
      display: inline-block;
} 
#nav .subnav
{
    list-style-type: none;
}
#nav >li
{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover .subnav
{
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover a{
    color: #000;
    background-color: #fff ;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0 , 0 , 0.3) ;
}
#nav .subnav a{
    color: #000;
}
#nav .subnav li:hover {
    color: #000;
    background-color: #fff ;
}
#nav .nav-arrow-down
{
    font-size: 14px;
}
#header .search-btn
{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover
{
    background-color: red;
}

#header .search-icon
{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
     position: relative;
     margin-top: 46px;
     padding-top: 50%;
     background: url('/assets/img/chicago.jpg') top center / cover no-repeat
}

#slider .text-content
{
     position: absolute;
     bottom: 47px;
     color: #fff;
     width: 100%;
     text-align: center;
}

#slider .text-heading
{
     font-weight: 500;
     font-size: 24px;
} 

#header .text-description
{
     font-size: 15px;
     margin-top: 25px;
}
.h2
{
    font-size: 50px;
    margin: 16px 0;
}

#content{
     
}

#content .content-section{
    width: 800px; 
    padding: 64px 0;
    margin-left:auto;
    margin-right: auto;
}
#content .section-heading{
       font-size: 30px;
       font-weight: 500;
       letter-spacing: 4px;
}
#content .section-sub-heading{
     font-size:30px;
     margin-top: 25px;
     font-size: initial;
     opacity: 0.6;
     
}

#content .about-text{
    margin-top: 25px;
    font-size:15px;
    text-align: justify;
    line-height: 1.4;
}

#content .section-heading,
#content .section-sub-heading{
       text-align: center;
}
#content .member-item{
    float: left;
    width: 33.33333%;
}
#content .members-list{
    margin-top:48px ;
    text-align: center;
}

#content .member-name{
    font-size: 15px;

}
#content .member-img
{
    width: 150px;
    margin-top: 25px;
}
.tour-section{
    background-color: #000;
    
}
.tickets-list
{
    list-style-type: none; 
    background-color: #fff;
    margin-top: 40px;

}
.tickets-list li{
   font-size: 15px;
   padding: 12px 16px;
   border-bottom:1px solid #fff ;
}

.tickets-list .sold-out{
     background-color: #f44336;
     color: #fff;
     padding: 3px 4px;
     margin-left: 16px;
}

.tickets-list .quantity{
     float: right;
     width: 24px;
     height: 24px;
     background-color: #000;
     border-radius: 50%;
     text-align: center;
     line-height: 24px;
}
.contact-content
{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i  {
   width: 30px;
display: inline-block;
    
}
.contact-from{
    font-size: 15px;
}
.contact-from .from-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.mt-16{
    margin-top: 16px;
}
.contact-from .from-submit-btn{
    background-color: #000;
    color: #fff;
    padding: 10px 16px;
    float: right;
}
.map-section img{
    width: 100%;
    padding-top: 50px;
}
#footer{
    padding: 64px  16px ;
    text-align: center;
}
#footer .socials-list{
     font-size: 24px;

}
#footer .socials-list a{
    color: rgb(0,0,0,0.3);
    text-decoration: none;

}
#footer .socials-list a:hover{
    color: rgb(0,0,0,1);
}
#footer .copyright
{
    margin-top: 15px;
    color: rgb(0,0,0,0.6);
}
#footer .copyright a{
    color: rgb(0,0,0,0.6);
}